.container {
    background: rgb(60, 60, 60);
    color: lightgoldenrodyellow;
    margin: auto;
    max-width: 600px;
    padding: 1rem;
}

.container h1 {
    font-size: 1.5rem;
    background-color: black;
    color: aqua;
    padding: 1rem;
    text-decoration: underline solid aqua;
}

.card {
    background-color: azure;
    color: black;
    padding: 1rem;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 5px;
    height: 150px;
}

.card span {
    font-size: 1.5rem;
    font-family: "Times New Roman", Times, serif;
    margin-top: 10px;
    padding: 5px;
    text-decoration: underline solid black;
    text-underline-offset: 4px;
}

.card h2 {
    text-align: center;
    font-weight: bold;
}
