@tailwind base;
@tailwind components;
@tailwind utilities;

/** background */
main {
    min-height: 80vh;
}

body {
    background-image: url("../public/images/background.jpg");
    background-size: cover;
    background-position: fixed;
    overflow-x: hidden;
}

/** scrollbar */
:is(body, .aside)::-webkit-scrollbar {
    width: 10px; /* width of the entire scrollbar */
}

:is(body, .aside)::-webkit-scrollbar-track {
    background: lightblue; /* color of the tracking area */
}

:is(body, .aside)::-webkit-scrollbar-thumb {
    background-color: darkblue; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 2px solid white; /* creates padding around scroll thumb */
}

/** loader */
.loader {
    position: fixed;
    height: 100vh;
    overflow-y: hidden;
    z-index: 2000;
    width: 100vw;
    background-color: black;
    background-image: url("../public/images/loader.gif");
    background-repeat: no-repeat;
    background-size: 500px 500px;
    background-position: center center;
}

/** sidebar animation */
@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.nav {
    animation: slideIn 2s ease-in-out 0.5s;
}
