.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem;
}

.title {
    background-color: rgb(44, 44, 44);
    margin: 1rem;
    color: lightgoldenrodyellow;
    min-width: 400px;
    box-shadow: inset 4px 4px 5px 8px whitesmoke;
}

.title h1 {
    font-size: 2rem;
    color: aquamarine;
    text-shadow: 2px 2px 0px white;
    padding: 1rem;
    margin: 2rem;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.dark .title {
    background-color: rgb(151, 151, 151);
}
