.container {
    background-color: peachpuff;
    max-width: 800px;
    margin: auto;
    margin-top: 1rem;
    padding: 1rem;
}

.container h2 {
    text-underline-offset: 2px;
    text-decoration: underline solid black 2px;
    font-size: 1.2rem;
    font-family: "Roboto", Courier, monospace;
}

.container input {
    padding: 5px;
}
